body, h1, h2, h3 {
	font-family: 'Oxygen', sans-serif;
}
body {
	font-size: 16px;
	color: #000000;
}

h1, h2, h3 {
	font-weight: bold;
}

#header-nav {
	background-color: #D3D3D3;
	border-radius: 0;
	border: 2px solid #000000;
;
}
#header-container {
	margin-left: 0;
}

.navbar-brand h1 { /* Restaurant name */
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 25px;
	line-height: .75;
	color: #000000;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -40px;
}

#collapsable-nav{
	padding: 0;
}

#nav-list {
  margin: 0;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

hr {
  border-color: black;
  margin: 0;
}
.container-fluid {
	margin-left: 5vw;
	margin-right: 5vw;
}
.container-fluid h3 {
	margin-top: 0;
}
.container-fluid .menu-item {
	background-color: #D3D3D3;
	padding-top: 10px;
	margin-bottom: 20px;
}